.Navbar {
    background-color: black;
    color: white;
    font-size: 26px;
    padding: 10px;
}

.Navbar a {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.Navbar a:visited {
    color: white;
}

.Navbar a:hover {
    color: red;
}